@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --primary: #fb923c;
    --body: #fff;
  }

  .bg-primary {
    background-color: var(--primary);
  }

  /*
  .bg-body {
    background-color: var(--body);
  }

  .text-primary {
    color: var(--primary);
  }

  .outline-primary {
    outline-color: var(--primary);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .shadow-primary {
    --box-shadow-color: var(--primary / 0.1);
    box-shadow: 0 10px 15px -3px var(--box-shadow-color),
      0 4px 6px -4px var(--primary / 0.1);
  }

  .notification {
    position: fixed;
    padding: 1rem;
    bottom: 4rem;
    right: 4rem;
    width: 20rem;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid var(--primary);
    outline-offset: -4px;
    z-index: 1001;
    overflow: scroll;
  }

  .notification > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification > span > svg {
    fill: var(--primary);
  }

  .notification p {
    text-transform: capitalize;
  }

  @media (max-width: 640px) {
    .notification {
      width: 90%;
      height: 3rem;
      padding: 1rem;
      border-radius: 0.5rem;
      top: 0rem;
      inset: 0;
      margin: 0 auto;
    }
  }
  */
}

@layer base {
  * {
    @apply box-border;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-user-drag: none;
    position: relative;
    /* border: 1px solid red; */
  }

  ::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
  }

  html {
    @apply text-gray-800;
    font-family: "Poppins";
    scroll-behavior: smooth;
  }

  body {
    @apply bg-body;
  }

  img {
    @apply w-full h-full object-cover;
  }
}

.inset-notification {
  /* inset: 0; */
}

.active {
  /* background-color: green; */
}

.active.nav > div::before {
  content: "";
  @apply absolute border-primary border-4 h-[90%] -translate-x-2 rounded-full transition-all duration-300;
}

.active.notifications > div::after {
  content: "";
  @apply absolute inset-0 bg-primary h-[4px] w-1/2 top-full mx-auto rounded-full transition-all duration-500;
}

.notifications > div::after {
  content: "";
  @apply w-0;
}

button:focus,
a:focus {
  @apply outline-primary outline-offset-2;
}

button:active {
  @apply opacity-50;
}

button:hover {
  @apply outline outline-1 outline-transparent -outline-offset-2;
  /* rounded-md_ */
}
