@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "blogh";
  src: url("../fonts/Blogh/Blogh.otf") format("opentype");
  transition: all 1s ease-in;
}

@font-face {
  font-family: "Druk-Wide-Bold";
  src: url("../fonts/Druk/Druk-Wide/DrukWide-Bold-Trial.otf") format("opentype");
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* -webkit-touch-callout: rgba(var(--primary) / 0.2); */
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.test {
  background-color: #eeeeee;
  background-color: #ffba1f;
  background-color: #31003a;
  background-color: #44004e;
  background-color: #faf0fc;
  background-color: #ecdfef;
  background-color: #44004e;
  background-color: #ec4545;
  background-color: #faf0fc;
  background-color: #faf0fc;
}

.bg-pattern {
  background-image: url("../images/pattern-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.white-pattern {
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet-active {
  background-color: #f4511e !important;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  margin-right: 1rem;
  /* display: none; */
}

*::-webkit-scrollbar-thumb {
  @apply bg-transparent border-2 border-white rounded-2xl;
}

*::-webkit-scrollbar-track {
  @apply w-2 bg-transparent rounded-2xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 rounded-2xl;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-gray-500 rounded-2xl;
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  animation-direction: alternate;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

  /* background-color: #ab47bc;
  background-color: rgb(171, 71, 188); */
  /* background-color: #ba68c8;
  background-color: rgb(186 104 200); */
}

.rank-tile-shadow {
  box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
}

@layer utilities {
  :root {
    --primary: #ff631b;
    --primary: #ff7b00;
    --primary: #ff501b;
    --primary: #ab47bc;
    --body: #fff;
  }

  /* .bg-primary {
    background-color: var(--primary);
  } */
}

@layer base {
  * {
    box-sizing: border-box;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -moz-user-drag: none;
    position: relative;
  }

  @media (min-width: 640px) {
    * {
      user-select: auto;
      -moz-user-select: element;
    }
  }

  ::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
  }

  html {
    font-family: "Poppins";
    @apply text-gray-800;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-body;
  }

  img {
    @apply object-cover w-full h-full;
  }

  .row-span-8 {
    grid-row: span 8 / span 8;
  }

  .row-span-11 {
    grid-row: span 11 / span 11;
  }

  ._main_ {
    width: calc(100vw - 3.5rem);
  }

  .inset-notification {
    /* inset: 0; */
  }

  .active {
    /* background-color: green; */
  }

  ._main-nav_::before {
    content: "";
    @apply absolute border-primary border-4 h-[90%] -translate-x-2 rounded-full transition-all duration-300;
  }

  ._replied-text_ {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /* background-color: #9c27b0; */
  }

  .sub-nav::after {
    content: "";
    @apply w-0 absolute inset-0 bg-primary h-[4px] top-full mx-auto rounded-full transition-all duration-500;
  }

  .active::after {
    content: "";
    @apply absolute inset-0 bg-primary h-[4px] w-1/2 top-full mx-auto rounded-full transition-all duration-500;
  }

  button:focus,
  a:focus {
    @apply outline-primary outline-offset-2;
  }

  button:active {
    @apply scale-95;
  }

  .animate-loader {
    animation: loader-gradient 1s ease-in-out alternate infinite;
  }
}

@keyframes loader-gradient {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
